@model IEnumerable<Contoso_University.Models.Course>
@{
	ViewData["Title"] = "Kursused";
}
<h1>Courses</h1>
<p>
	<a asp-action="CreateEdit">Make a new course</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th> @Html.DisplayNameFor(model => model.CourseID) </th>
			<th> @Html.DisplayNameFor(model => model.Title) </th>
			<th> @Html.DisplayNameFor(model => model.Credits) </th>
			<th>Available actions:</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var course in Model)
		{
			<tr>
				<td> @Html.DisplayFor(modelItem => course.CourseID) </td>
				<td> @Html.DisplayFor(modelItem => course.Title) </td>
				<td> @Html.DisplayFor(modelItem => course.Credits) </td>
				<td>
					<a asp-action="Details" asp-route-id="@course.CourseID" class="btn btn-dark">Details</a>
					<a asp-action="Delete" asp-route-id="@course.CourseID" class=" btn btn-dark">Delete</a>
					<a asp-action="CreateEdit" asp-route-id="@course.CourseID" class=" btn btn-dark">Edit</a>
				</td>
			</tr>
		}
	</tbody>
</table>